* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e0f7f4;
    font-family: Arial, sans-serif;
}

.card {
    background-color: #e0f7f4;
    padding: 20px;
    width: 250px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.profile-icon img {
    width: 100px; /* Adjust the width */
    height: 100px; /* Adjust the height */
    border-radius: 50%; /* Make it circular */
    object-fit: cover; /* Ensure the image covers the area */
}

.info h2 {
    font-size: 24px;
    color: #333;
    margin: 15px 0;
}

.info p {
    font-size: 16px;
    color: #666;
}
